[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.suo
*.log
*.vspscc
FFT/x64/
FFT/FFT/x64/
FFT/FFT/.vscode/settings.json
FFT/FFT/cufft.exe
FFT/FFT/cuFFT_output.exe
FFT/FFT/unoptimized_output.exe
FFT/FFT/sequential.exe
FFT/FFT/sequential_output.exe
